.textContainer{
  width:max-content;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;


}
.animationContainer{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  
  }
  
p.format{
    overflow: hidden;
    white-space: nowrap;
    color:white;
    font-family: orpheus-pro;
}
  p.animation1 {
    

    border-right: 2px solid;
    width: 0;
    animation: typing 2.3s steps(30, end) 2s forwards, blinking 1s  0.5s 5 forwards;
  } 

  @keyframes typing {
    0% { width: 0 }
    22% { width: 100%;
    }

    93%{
        width: 100%;
    }
    100%{
        width: 75%;
    }
    

  }
  
  @keyframes blinking {
    0% {
        border-color: transparent;
      }
    50% {border-color: white}


    100% {
        border-color: transparent;

    }

  }


p.animation2 {
  

    border-right: 2px solid;
    width: 0;
    animation: typing-normal 1.5s steps(30, end) 5.5s forwards, blinking 1s  3.5s 5 forwards, no-border 5.5s ;
    /* typing-2 2.7s steps(30, end) 6s forwards, blinking-2 1s 3.5s infinite forwards,
            typing-3 2.2s steps(30, end) 10s forwards,
            typing-4 2.2s steps(30, end) 13.5s forwards,
            hide-right-border 5s, 0s forwards; */
    
    
    

} 

p.animation3 {
  border-right: 2px solid;
  width: 0;
  animation: typing-2 2.7s steps(30, end) 9s forwards, blinking 1s 8.5s infinite forwards, no-border 8.5s,
             typing-3 2.2s steps(30, end) 13.5s forwards,
             typing-4 2.2s steps(30, end) 17s forwards; 

}

.animation4 {
  border-right: 2px solid;
  width: 0;
  animation: pop-up 2s 20s forwards;

}

@keyframes{
  
}




@keyframes no-border {
  0%{
    border: transparent;
  }
  100%{
    border:transparent
  }
}

@keyframes typing-normal {
  0%{
    width: 0%;
 }
 100%{
    width: 100%;
  }
 }




@keyframes hide-right-border {
 0%{
    border-right: 0px;
 }
 100%{
    border-right: 0px;
 }
}


@keyframes typing-2 {
    0% { width: 0 }
    25% { width: 58%
    }

    85%{
        width: 58%;
    }
    100%{
        width: 25%;
    }
    

  }
  @keyframes typing-3 {
    0% { width: 25% }
    25% { width: 72%
    }

    75%{
        width: 72%;
    }
    100%{
        width: 25%;
    }
    

  }
  @keyframes typing-4 {
    0% { width: 25% }
    25% { width: 71%
    }

    85%{
        width: 71%;
    }
    100%{
        width: 71%;
    }
    

  }
  
  @keyframes blinking-2 {
    0% {
        border-right: 2px solid;
        border-color: transparent;}
    50% {border-color: black}


    100% {
      border-right: 2px solid;
        border-color: transparent;

        /* margin-top: 50px; */
    
    }

  }

