.textContainer{
  width:max-content;
  text-align: center;


}
.animationContainer{

    
    flex-flow: column nowrap;
    font-size:"2.5em";
    color:"white";
    text-align:"center";
    font-size: 2.5em;
  }
 
.changingTextContainer {
  width: 10em;
  text-align: center;
}


.learnMoreButton{
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #FFBD8E;
  border-radius: 5px;
  color:white;
  text-align: center;
  cursor: pointer;
  padding: 0.5em 1em;
  font-size: 0.7em;

}
/* sx={{
color:"white ",
borderColor:"#FFBD8E",
fontSize:"20px",
fontFamily: "orpheusPro",
padding:"0.5em 1em",

}} */
p.format{
  
    overflow: hidden;
    white-space: nowrap;
    color:white;
    font-family: orpheus-pro;
    margin:0.5em;
}
  p.animation1 {
    

    border-right: 2px solid;
    width: 0;
    animation: typing 2.3s steps(30, end) 2s forwards, blinking 1s  0.5s 5 forwards;
  } 




p.animation2 {
  

    border-right: 2px solid;
    width: 0;
    animation: typing-normal 1s steps(30, end) 5.5s forwards, blinking 1s  3.5s 5 forwards, no-border 5.5s ;
    /* typing-2 2.7s steps(30, end) 6s forwards, blinking-2 1s 3.5s infinite forwards,
            typing-3 2.2s steps(30, end) 10s forwards,
            typing-4 2.2s steps(30, end) 13.5s forwards,
            hide-right-border 5s, 0s forwards; */
    
    
    

} 

p.animation3 {
  border-right: 2px solid;
  width: 0;
  animation: typing-2 2.7s steps(30, end) 9s forwards, blinking 1s 8.5s infinite forwards, no-border 8.5s,
             typing-3 2.2s steps(30, end) 13.5s forwards,
             typing-4 2.2s steps(30, end) 17s forwards; 

}

.animation4 {
  opacity: 0;
  width:max-content;
  animation: fadeIn 2s ease-in-out forwards 19s; /* Use the fadeIn animation for 1 second with ease-in-out timing and forward fill mode */

}









@keyframes typing {
  0% { width: 0 }
  22% { width: 100%;
  }

  93%{
      width: 100%;
  }
  100%{
      width: 75%;
  }
  

}

@keyframes blinking {
  0% {
      border-color: transparent;
    }
  50% {border-color: white}


  100% {
      border-color: transparent;

  }

}





@keyframes fadeIn {
  0% {
    opacity: 0; /* Start with opacity 0 */
  }
  100% {
    opacity: 1; /* End with opacity 1 */
  }
}


@keyframes no-border {
  0%{
    border: transparent;
  }
  100%{
    border:transparent
  }
}

@keyframes typing-normal {
  0%{
    width: 0%;
 }
 100%{
    width: 100%;
  }
 }




@keyframes hide-right-border {
 0%{
    border-right: 0px;
 }
 100%{
    border-right: 0px;
 }
}


@keyframes typing-2 {
    0% { width: 0 }
    25% { width: 58%
    }

    85%{
        width: 58%;
    }
    100%{
        width: 25%;
    }
    

  }
  @keyframes typing-3 {
    0% { width: 25% }
    25% { width: 72%
    }

    75%{
        width: 72%;
    }
    100%{
        width: 25%;
    }
    

  }
  @keyframes typing-4 {
    0% { width: 25% }
    25% { width: 71%
    }

    85%{
        width: 72%;
    }
    100%{
        width: 72%;
    }
    

  }
  
  @keyframes blinking-2 {
    0% {
        border-right: 2px solid;
        border-color: transparent;}
    50% {border-color: black}


    100% {
      border-right: 2px solid;
        border-color: transparent;

        /* margin-top: 50px; */
    
    }

  }

