:root{
    --projects-bg:hsl(0, 0%, 14%);
}

.video-js-player {
    position:relative;
    width:940px;
    height:400px;
}

.video-content {
    width:100%;
    height:100%;
    background:#f2f2f2;
    font-size:18px;
    font-family:verdana;
    font-weight:bold;
    color:#aaa;
    border:1px solid #aaa;
    margin-top:10px;
}

.projectLinkStyling{
    text-decoration: none;

    /* padding: 3px; */
    /* border: 2px solid green; */
    margin-bottom:0.4em;
}

.iconStyling{
    color: rgb(109, 0, 109);
    padding: 0.15em 0.5em;
    background: linear-gradient(var(--projects-bg), var(--projects-bg)) padding-box,
              linear-gradient(to right, darkblue, darkorchid) border-box;
    border-radius: 50em;
    border: 2px solid transparent;

}


.projectsTitle{
    position: relative;
    background-image: linear-gradient(45deg, #7891f3, #a642af);
    width: max-content;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 3rem;

}
.projectsTitle::after{
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    content: "";
    /* padding-top: 200px; */
    height: 5px;
    width: 100%;
    background: linear-gradient(45deg, #7891f3, #a642af);;
}

.projectsPageWrapper{
    margin: 0;
    background-color: var(--body-bg);
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    padding-block:6rem;
}

.projectsWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding-inline: 2em;
    padding-bottom: 5em;

}

.paragraphImageHolder{
    height: 15em;
    width: 25em;
    float: right;
}

.paragraphImage{
    /* width: 100%;
    height: 15rem;
    float: right;
    margin-left:1rem; */
    display: block;
    width:100%;
    height: 100%;
    object-fit: cover;
}

.projectsWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding-inline: 2em;
    padding-bottom: 5em;

}

.olderProjectWrapper{
    margin-top: 2em;
    width:90%;
    margin-inline: auto;
    position: relative;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.extraPadding{
    margin-top: 8em;
    padding-block: 3em;
}
/* .futureProjectsContainer{} */

/* .prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;;
    color: white;
    font-weight: bold;
    background-color: #7891f3;
    user-select: none;

}


.prev{
    left:0;
    border-radius: 0 3px 3px 0;

}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  } */

.olderProjectContainer{
    width: 33%;
    padding: 1em;
}



.carouselProjectContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    /* padding: 1em; */
    width: 100%;
}
.test{
    width: 50px;
    background-color: #7891f3;
    height: 50px;
}



.project:hover{
    background: linear-gradient(45deg, #7891f3, #a642af);
    transform: scale(1.05);

}

.smallerFontSize{
    font-size: 0.7rem;
}


.projectContainer {
    padding: 1em;
    width:50%;
    transition: transform 0.4s ease-in-out;
    
}


.project{
    /* transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out; */
    overflow:hidden;
    position: relative;

    background-color: var(--projects-bg);

    transition: all 0.4s ease-in-out;
    /* height:22rem; */

    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap; */
    
}
.projectImageContainer{
    flex: 1;
}


.projectLink{
    background-color: blue;
}

.projectDescriptionsContainer{
    flex:1;
    /* padding-bottom:1rem; */
}

.projectImage{

    display: block;
    /* max-width: 18rem; */
    /* max-width:100%; */
    width:100%;
    height: 18em;
    object-fit: cover;


}
.projectPopUpWrapper{
    padding: 2em;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center ;
    justify-content: start;
}

:root{
    --project-pop-up:hsl(0, 0%, 17%);
    
}

.popUpParagraphsWrapper{
    /* padding-block: 2em; */
    width: 100%;
}

.popUpParagraph{
    padding-block: 3em;
    padding-inline: 2em;
    text-align:left;
    

}

.popUp{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color: transparent;
    overflow: hidden;
    z-index: 1;
}




.projectPopUpContainer{
    --x-var:90%;
    --y-var:max-content;

    position: absolute;
    /* overflow-y: scroll; */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */


    height: var(--y-var);
    width: var(--x-var);
    left: 50%;
    margin-left: calc( (var(--x-var ) * -1 ) / 2 );
    top: 5%;
    /* margin-top: 15em; */
    /* margin-top: calc( (var(--y-var ) * -1 ) / 2 );; */
    background: linear-gradient(var(--project-pop-up), var(--project-pop-up)) padding-box,
              linear-gradient(to right, darkblue, darkorchid) border-box;
    border: 2px solid transparent;

    z-index: 1;
    border-radius: 2em;


}

.projectPopUpContainer::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}



@media only screen and (max-width: 600px) {
       
    .projectsWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        padding-inline: 2em;
    
    
    }
    
    .projectContainer {
        padding: 1em;
        width:100%;
        
    }
}

