
.fixed {
    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 10;
}



.nav {
    margin: 0;
    background-color:transparent;
    color:white;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.25s ease-in-out;   
}

.navBarLinkAnimation{
    color:transparent;
    /* transition: color 0.25s ease-in-out; */
    text-decoration: none;
    border:transparent;
    transition: color 0.25s ease-in-out;
    
}




.nav:hover{
    background-color: #333; 
}
.nav:hover .navBarLinkAnimation {
    color: white;
    /* border:white; */
}

.nav:hover .homeLink{
    border-color: white;
    color: white
}

.homeLink{
    position: relative;
    font-size: 2em;
    /* margin-left: 2.5em; */
    border: 2px solid transparent;
    color: transparent;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    padding: 0.25em;
    margin:0.25em;
    text-align: center;
    transition: border-color 0.25s ease-in-out, color 0.25s ease-in-out;

}

.homeLink::after{



}

.homeLink:hover::after{
    content: "";
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    left: 0.3rem;
    width: 3.2rem;
    height: 2px;
    background-color: white;
    animation: width 0.3s 1 forwards ease-in-out;
}

@keyframes width {
    0%{
        width: 0;
    }
    100%{
        width: 3.2rem;
    }
}


ul.subNav{
    font-size: 1.25em;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
}

ul{
    padding:0;
}

.navBarOptions {
    margin: 2em;

}


