.paddingLittle{
    padding: 0em 0.5em;
}
.paddingMedium{
    padding: 0.5em 1em 0.5em 1em;
}

.paddingLarge{
    padding: 1em 2em 1em 2em;
}

.standardButtonStyle{
    text-decoration: none;
}

.noMargin{
    margin:0;
}

.marginLittle{
    margin:0.5rem;
}

.serif{
    font-family: Georgia, serif;
}
.white {
    color:white;
}

.black {
    color:black;
}

.center{
    text-align: center;
}

.marginCenter{
    width: 100%;
    margin-inline: 1em;
}

.orangeBox{
    margin: 1em;
    border: 2px solid #FFBD8E;
    border-radius: "5px";
}

.bold{
    font-weight: bold;
}

.centerColumn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.noMargin {
    margin:0;
}

.fullBox {
    width:100%;
    height:100dvh;
}

@media all and (max-width: 600px){
    .smallScreen{
       display: none;
    }
  }

.centerElementsRow{
    display:flex;

    justify-content:center;
    align-items: center;

}

.BGgreen{
color:green
}

.linkButton{
    text-decoration: none;
    border-radius: 5px;
    padding:15px 15px 5px 15px;
}


.centerElementsColumn{
    display:flex;

    justify-content:center;
    align-items: center;
    
}


.wrapContainer {
    width: max-content;
    height: max-content;

}

.wrapper{
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.sectionWrapper{
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    margin: 0;
    background: var(--body-bg);
    padding-block:6rem;
  }

ul  {
    list-style: none;
}
.diagonal1 {
    --skew-angle:-5deg;
    position: relative;
    isolation: isolate;
    
       
  }
  .diagonal2 {
    --skew-angle:5deg;
    position: relative;
    isolation: isolate;
    
       
  }
  
  .diagonal1::before, .diagonal2::before {
    content:"";
    position: absolute;
    inset: 0;
    transform:skewY(var(--skew-angle));
    z-index: -1;
    background-image: 
    linear-gradient(
        to right,
        #e9a512,
        #edb971,
        #f64f59
    );
       
  }

  .spikes{
    --spike-color:var(--body-bg);
    --spike-width:50px;
    --spike-height:10px;
    position:relative;
    color: black;
    background: linear-gradient(to right,
        #fdc830,
        #f37335
    )
}
.spikes::before, .spikes::after {
    content: "";
    position: absolute;
    width: 100%;
    height:var(--spike-height);
    background:var(--spike-color);


    -webkit-mask-image: url("../assets/triangle.svg");
    mask-image: url("../assets/triangle.svg");
    
    
    -webkit-mask-size: var(--spike-width) var(--spike-height);
    mask-size: var(--spike-width) var(--spike-height);
}

.spikes::before{
    top: 0;
}
.spikes::after {
    bottom: 0;
    transform: rotate(180deg);
}



.wave{
    padding-block: 4rem;
    background: linear-gradient(
        to right,
        #00f260,
        #0575e6

    );
    --mask:
        radial-gradient(111.80px at 50% 150.00px,#000 99%,#0000 101%) calc(50% - 100px) 0/200px 51% repeat-x,
        radial-gradient(111.80px at 50% -100px,#0000 99%,#000 101%) 50% 50px/200px calc(51% - 50px) repeat-x,
        radial-gradient(111.80px at 50% calc(100% - 150.00px),#000 99%,#0000 101%) calc(50% - 100px) 100%/200px 51% repeat-x,
        radial-gradient(111.80px at 50% calc(100% + 100.00px),#0000 99%,#000 101%) 50% calc(100% - 50px)/200px calc(51% - 50px) repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);

} 
